In [37]:
def my_sq(x):
    '''
    제곱해서 리턴하는 함수
    '''
    print(x)
    return x ** 2

In [11]:
my_sq(2)

4

In [39]:
def avg_2(x,y):
    '''
    두 숫자의 평균을 구하는 함수
    '''
    print(x)
    print(y)
    return (x+y)/2

In [15]:
avg_2(4,7)

5.5

In [23]:
import pandas as pd

In [27]:
df = pd.DataFrame({
    'a':[10,20,30],
    'b':[20,30,40]
})

In [29]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [31]:
df['a'] **2

0    100
1    400
2    900
Name: a, dtype: int64

In [41]:
df.a.apply(my_sq)

10
20
30

0    100
1    400
2    900
Name: a, dtype: int64

In [43]:
df.apply(my_sq)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

     a     b
0  100   400
1  400   900
2  900  1600

In [46]:
df.a.apply(avg_2)

TypeError: avg_2() missing 1 required positional argument: 'y'

In [48]:
df.apply(avg_2)

TypeError: avg_2() missing 1 required positional argument: 'y'

In [50]:
df.apply(avg_2,y=2)

0    10
1    20
2    30
Name: a, dtype: int64
2
0    20
1    30
2    40
Name: b, dtype: int64
2

      a     b
0   6.0  11.0
1  11.0  16.0
2  16.0  21.0

In [56]:
def avg_3(col):
    print(col)
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

In [58]:
df.apply(avg_3)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    20.0
b    30.0
dtype: float64

In [60]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [70]:
def avg_2_apply(row):
    print(row)
    x = row.iloc[0]
    y = row.iloc[1]
    return (x+y)/2

In [72]:
df.apply(avg_2_apply, axis=1)

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    15.0
1    25.0
2    35.0
dtype: float64

In [74]:
df[['a','b']].apply(
    lambda x:(x.iloc[0]+x.iloc[1])/1,
    axis=1
)

0    30.0
1    50.0
2    70.0
dtype: float64