In [1]:
import pandas as pd
import seaborn as sns

In [5]:
tips = sns.load_dataset('tips')

In [17]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [11]:
tips.sample()

    total_bill   tip   sex smoker  day    time  size
76       17.92  3.08  Male    Yes  Sat  Dinner     2

In [13]:
tips['sex'].astype('str')

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [19]:
tips.sex

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [21]:
tips_sub=tips.head(10).copy()

In [23]:
tips_sub.loc[[1,3,5,7], 'total_bill'] = 'missing'

/var/folders/hw/1ptsdfsn5gs38h0hr1hqwng80000gn/T/ipykernel_16006/179360672.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  tips_sub.loc[[1,3,5,7], 'total_bill'] = 'missing'

In [25]:
tips_sub

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6       8.77  2.00    Male     No  Sun  Dinner     2
7    missing  3.12    Male     No  Sun  Dinner     4
8      15.04  1.96    Male     No  Sun  Dinner     2
9      14.78  3.23    Male     No  Sun  Dinner     2

In [27]:
tips_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  10 non-null     object
 1   tip         10 non-null     float64
 2   sex         10 non-null     category
 3   smoker      10 non-null     category
 4   day         10 non-null     category
 5   time        10 non-null     category
 6   size        10 non-null     int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 988.0+ bytes

In [33]:
pd.to_numeric(tips_sub.total_bill,errors='coerce')

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [35]:
tips_sub.smoker.cat.categories

Index(['Yes', 'No'], dtype='object')